*{
    margin: 0 5px;
    line-height: 2em;
    padding: 0 20px;
    background-color: rgb(227, 218, 235);
}
ul li{
    padding-left: 2px;
    background-color: black;
    color: rgb(255, 0, 157);
    font-size: 1.2em;
}
h1{
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
p{
    background-color: black;
    color: rgb(255, 0, 157);
    border-radius: 5px;
    font-size: 1.2em;
}